<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Master</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="content">
        <header>
            <div class="logo__box">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="CLEAN MASTER">
            </div>
            <div class="contact__box">
                {% for i in contacts %}
                <div class="contact__item">{{i}}</div>
                {% endfor %}
            </div>
            <nav class="menu__box">
                <ul>
                    {% for m in menu %}
                    <li class="menu__item"><a href="#">{{m['name']}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            <section class="main__section">
                <div class="panel">
                    <img src="{{url_for('static', filename='img/logo-main.png')}}" alt="CLEAN MASTER">
                    <h2>Cделаем всю пыльную работу за вас!</h2>
                    <p>
                        Cервис для тех, кто хочет жить в чистоте и не тратить время на уборку. 
                        Пока вы занимаетесь чем-то важным мы наведем порядок в квартире, частном доме или офисе, 
                        почистим мягкую мебель и помоем окна.вис для тех, кто хочет жить в чистоте и не тратить время на уборку. 
                    </p>
                </div>
                <div class="button__box">
                    <a class="button" href="#order">Заказать уборку</a> 
                    <a class="button" href="{{whatsapp}}">Написать на WhatsApp</a>
                </div>
            </section>
            <section class="order__section" id="order">
                <h1>Заказать уборку</h1>
                <form action="/send_order" method="post">
                    <div class="form__row">
                        <div class="form__col">
                            <input type="text" name="username" placeholder="Ваше имя" required>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__col">
                            <input class="mask" placeholder="+7 (___) ___-__-__" type="tel" value="+7 (___) ___-__-__" required>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__col">
                            <span>Тип помещения:</span>
                            {% for c in clean_list %}
                                {% if c['group'] == 'room_type' %}
                                <div>
                                    <input type="radio" name="room_type" id="{{c['name']}}" value="{{c['name']}}">
                                    <label for="{{c['name']}}">{{c['title']}}</label>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form__col">
                            <span>Тип уборки:</span>
                            {% for c in clean_list %}
                                {% if c['group'] == 'clean_type' %}
                                <div>
                                    <input type="radio" name="clean_type" id="{{c['name']}}" value="{{c['name']}}">
                                    <label for="{{c['name']}}">{{c['title']}}({{c['cost']}} тг. за кв.м.)</label>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>    
                    <div class="form__row">
                        <div class="form__col">
                            <span>Общая площадь помещения (кв.м.):</span>
                            {% for c in  clean_list %}
                                {% if c['group'] == 'clean_type' %}
                                <div class="form__row" id="{{c['name']}}_range_box">
                                    <span id="{{c['name']}}_value">0</span>
                                    <input 
                                        id="{{c['name']}}_range" 
                                        type="range" 
                                        min="{{c['range_min']}}" 
                                        max="{{c['range_max']}}" 
                                        value="0" 
                                        list="{{c['name']}}_marks">    
                                    <datalist id="{{c['name']}}_marks">
                                        {% for v in c['range'] %}
                                        <option 
                                            value="{{v[0]}}" 
                                            label="{{v[1]}}">
                                        </option>
                                        {% endfor%}
                                    </datalist>
                                </div>
                                {% endif %}    
                            {% endfor %}
                        </div>
                    </div>    
                    <div class="form__row">
                        <div class="form__col">
                            <span>Дополнительные услуги:</span>
                            {% for c in  clean_list %}
                                {% if c['group'] == 'cleanning' %}
                                <div>
                                    <input type="checkbox" name="{{c['name']}}" id="{{c['name']}}" value="{{c['name']}}">
                                    <label for="{{c['name']}}">{{c['title']}}({{c['cost']}} тг.)</label>
                                </div>
                                {% endif %}
                                {% if c['group'] == 'cleanning' and c['range'] %}
                                <div id="{{c['name']}}_range_box">
                                    <span id="{{c['name']}}_value">0</span>
                                    <input 
                                        id="{{c['name']}}_range" 
                                        type="range" 
                                        min="{{c['range_min']}}" 
                                        max="{{c['range_max']}}" 
                                        value="0" 
                                        list="{{c['name']}}_marks">    
                                    <datalist id="{{c['name']}}_marks">
                                        {% for v in c['range'] %}
                                        <option 
                                            value="{{v[0]}}" 
                                            label="{{v[1]}}">
                                        </option>
                                        {% endfor%}
                                    </datalist>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>    
                    <div class="form__row">
                        <div class="form__col">
                            <span>Калькулятор считает приблизительную стоимость.</span>
                            <span>Просьба уточнять точную стоимость по номеру: {{contacts[0]}}, {{contacts[1]}}</span>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__col">
                            <span>Приблизительная стоимость:<strong id="cost"></strong></span>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__col">
                            <input class="button" type="submit" value="Отправить">
                        </div>
                    </div>
                </form>
            </section>
            <section class="service__section">

            </section>
            <section class="about__section">

            </section>
        </main>
    </div>
    <script>
        let clean_list = JSON.parse('{{ clean_list | tojson }}');
    </script>
    <script src="{{url_for('static', filename='js/range.js')}}"></script>
    <script src="{{url_for('static', filename='js/mask.js')}}"></script>
</body>
</html>