<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Master</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="content">
        <header>
            <div class="logo__box">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="CLEAN MASTER">
            </div>
            <div class="contact__box">
                {% for i in contacts %}
                <div class="contact__item">{{i}}</div>
                {% endfor %}
            </div>
            <nav class="menu__box">
                <ul>
                    {% for m in menu %}
                    <li class="menu__item"><a href="#">{{m['name']}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            <section class="main__section">
                <div class="panel">
                    <img src="{{url_for('static', filename='img/logo-main.png')}}" alt="CLEAN MASTER">
                    <h2>Cделаем всю пыльную работу за вас!</h2>
                    <p>
                        Cервис для тех, кто хочет жить в чистоте и не тратить время на уборку. 
                        Пока вы занимаетесь чем-то важным мы наведем порядок в квартире, частном доме или офисе, 
                        почистим мягкую мебель и помоем окна.вис для тех, кто хочет жить в чистоте и не тратить время на уборку. 
                    </p>
                </div>
                <div class="button__box">
                    <a class="button" href="#order">Заказать уборку</a> 
                    <a class="button" href="{{whatsapp}}">Написать на WhatsApp</a>
                </div>
            </section>
            <section class="order__section" id="order">
                <h1>Заказать уборку</h1>
                <form action="/add_order" method="post">
                    <div class="form__row">
                        <input type="text" name="username" placeholder="Ваше имя">
                    </div>
                    <div class="form__row">
                        <input type="text" name="phone" placeholder="Ваш номер телефона">
                    </div>
                    <div class="form__row">
                        <span>Тип уборки:</span>
                    </div>
                    <div class="form__row">
                        <div>
                            <input type="radio" name="clean_type" id="clean_type1" value="spring_cleaning">
                            <label for="clean_type1">Генеральная уборка</label>
                        </div>
                        <div>
                            <input type="radio" name="clean_type" id="clean_type2" value="wet_cleaning">
                            <label for="clean_type2">Влажная уборка</label>
                        </div>
                        <div>
                            <input type="radio" name="clean_type" id="clean_type3" value="afterepair_cleaning">
                            <label for="clean_type3">Уборка после ремонта</label>
                        </div>
                    </div>
                    <div class="form__row">
                        <span>Тип помещения:</span>
                    </div>
                    <div class="form__row">
                        <div>
                            <input type="radio" name="room_type" id="room_type1" value="living_room">
                            <label for="room_type1">Жилое помещение</label>
                        </div>
                        <div>
                            <input type="radio" name="room_type" id="room_type2" value="private_house">
                            <label for="room_type2">Частный дом</label>
                        </div>
                        <div>
                            <input type="radio" name="room_type" id="room_type3" value="production_room">
                            <label for="room_type3">Производственное помещение</label>
                        </div>
                        <div>
                            <input type="radio" name="room_type" id="room_type4" value="site_area">
                            <label for="room_type4">Территория участка</label>
                        </div>
                    </div>
                    <div class="form__row">
                        <span>Общая площадь помещения (кв.м.):</span>
                    </div>
                    <div class="form__row">
                        <input id="room_size" type="range" min="0" max="500" value="0" list="tickmarks">    
                        <datalist id="tickmarks">
                            <option value="0" label="0"></option>
                            <option value="50" label="50"></option>
                            <option value="100" label="100"></option>
                            <option value="150" label="150"></option>
                            <option value="200" label="200"></option>
                            <option value="250" label="250"></option>
                            <option value="300" label="300"></option>
                            <option value="350" label="350"></option>
                            <option value="400" label="400"></option>
                            <option value="450" label="450"></option>
                            <option value="500" label="500"></option>
                        </datalist>
                        <div class="current-value"><span id="room_size_value">10</span></div>
                    </div>
                    <div class="form__row">
                        <span>Дополнительные услуги:</span>
                    </div>
                    <div class="form__row">
                        <div>
                            <input type="checkbox" name="carpet_cleanning" id="carpet_cleanning">
                            <label for="carpet_cleanning">Хим.чистка ковровых покрытий (кв.м)</label>
                            <input id="carpet_cleanning_size" type="range" min="0" max="50" value="0" list="carpet_cleanning_marks">    
                            <datalist id="carpet_cleanning_marks">
                                <option value="0" label="0"></option>
                                <option value="10" label="10"></option>
                                <option value="20" label="20"></option>
                                <option value="30" label="30"></option>
                                <option value="40" label="40"></option>
                                <option value="50" label="50"></option>
                            </datalist>
                        </div>
                        <div>
                            <input type="checkbox" name="furniture_cleaning" id="furniture_cleaning">
                            <label for="furniture_cleaning">Хим.чиска мебели (посадочное место)</label>
                            <input id="furniture_cleanning_size" type="range" min="0" max="30" value="0" list="furniture_cleanning_marks">    
                            <datalist id="furniture_cleanning_marks">
                                <option value="0" label="0"></option>
                                <option value="5" label="5"></option>
                                <option value="10" label="10"></option>
                                <option value="15" label="15"></option>
                                <option value="20" label="20"></option>
                                <option value="25" label="25"></option>
                                <option value="30" label="30"></option>
                            </datalist>
                        </div>
                        <div>
                            <input type="checkbox" name="mattress_cleaning" id="mattress_cleaning">
                            <label for="mattress_cleaning">Хим.чиска матрасов</label>
                            <input id=""mattress_cleanning_size" type="range" min="0" max="3" value="0" list=""mattress_cleanning_marks">    
                            <datalist id=""mattress_cleanning_marks">
                                <option value="0" label="0"></option>
                                <option value="1" label="1"></option>
                                <option value="2" label="1.5"></option>
                                <option value="3" label="2"></option>
                            </datalist>
                        </div>
                        <div>
                            <input type="checkbox" name="wash_window" id="wash_window">
                            <label for="wash_window">Мытье окон</label>
                        </div>
                        <div>
                            <input type="checkbox" name="wash_up" id="wash_up">
                            <label for="wash_up">Мытье посуды</label>
                        </div>
                        <div>
                            <input type="checkbox" name="odor_removal" id="odor_removal">
                            <label for="odor_removal">Удаление запахов</label>
                        </div>
                        <div>
                            <input type="checkbox" name="ironing" id="ironing">
                            <label for="ironing">Глажка</label>
                        </div>
                        <div>
                            <input class="button" type="submit" value="Заказать уборку!">
                        </div>
                    </div>    
                </form>
            </section>
            <section class="service__section">

            </section>
            <section class="about__section">

            </section>
        </main>
    </div>
    <script src="{{url_for('static', filename='js/range.js')}}"></script>
</body>
</html>